/*
Table of Contents
=================

1. Call us / .call-us
2. Navigation / nav.main
3. Content / section.content
4. Body / body.home
5. Footer / footer
6. Services / body.services
7. Booking / body.booking
8. Contact / body.contact
9. Blog / body.blog
10. Blog inside / body.blog-inside
11. About / .about

*/
/* Gradients
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
/* Reset Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 99%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 0 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* Form
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  min-height: 35px;
  -webkit-appearance: button;
  font-size: 14px;
  background: transparent;
  letter-spacing: 1px;
  border: 1px;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #c4c5c7;
  height: 25px;
  font-size: 12px;
  padding: 5px;
  color: #5f6062;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
textarea {
  resize: none;
}
/* Float & Align
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.float-left {
  float: left  !important;
}
.float-right {
  float: right !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* Clearfix
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
/* Typography
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
hr {
  display: block;
  height: 0px;
  line-height: 0px;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 16px 0;
  float: none;
  clear: both;
  padding: 0;
}
/* Framework TYPO
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.story {
  line-height: 1.5;
}
.story ul {
  list-style: square;
}
.story ul li {
  list-style: square;
}
.story ol {
  list-style: decimal;
}
.story ol li {
  list-style: decimal;
}
.story ul,
.story ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.story ol ul,
.story ul ol,
.story ol ol {
  margin-bottom: 0;
}
.story ol ol {
  list-style: upper-alpha;
}
.story ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6 {
  text-transform: none;
  margin-bottom: 20px;
}
.story a:link,
.story a:visited,
.story a:hover,
.story a:active {
  text-decoration: none;
}
.story pre {
  background: #f2f2f2;
  padding: 20px;
  display: block;
  margin: 10px 15px 10px 0;
  overflow-x: auto;
}
.story address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story .wp-caption {
  width: auto;
}
.story .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #898989!important;
  margin: 0!important;
}
.story abbr {
  text-transform: uppercase;
}
.story dl {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #f2f2f2;
  display: block;
  margin-bottom: 25px;
}
.story dl dt {
  min-width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  font-weight: 900;
}
.story dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.story img.size-full,
.story img.size-large,
.story img.size-medium,
.story .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.story img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.story img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.story img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.story img.alignright,
.story img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley {
  margin: 0;
}
.story table {
  margin-bottom: 30px;
  border-collapse: collapse;
}
.story table a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
}
.story table td,
.story table th {
  padding: 5px 10px;
  border: 1px solid #f2f2f2;
}
.story .tagsphar {
  margin-top: 30px;
}
.story .tagsphar a,
.story .post_pages a {
  font-weight: 900;
  font-size: 12px;
  border: 2px solid #000;
  padding: 2px 10px;
  margin: 3px;
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.story .tagsphar a:hover,
.story .post_pages a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  background-color: #000;
  color: #FFF;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* Flexslider Default Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.flexslider,
.single_post_images_slider {
  position: relative;
}
.flexslider ul,
.single_post_images_slider ul,
.flexslider ol,
.single_post_images_slider ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider ul li,
.single_post_images_slider ul li,
.flexslider ol li,
.single_post_images_slider ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li,
.single_post_images_slider .slides > li {
  position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  text-align: center;
}
.flexslider .slides img,
.single_post_images_slider .slides img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.flexslider .descr,
.single_post_images_slider .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(100, 100, 100, 0.5);
  color: #fff;
  text-align: left;
}
.flexslider .descr h3,
.single_post_images_slider .descr h3 {
  text-align: left;
}
.flexslider .descr .text p:last-child,
.single_post_images_slider .descr .text p:last-child {
  margin-bottom: 0;
}
.flexslider .flex-control-nav,
.single_post_images_slider .flex-control-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.flexslider .flex-control-nav li,
.single_post_images_slider .flex-control-nav li {
  display: inline-block;
  margin: 5px;
}
.flexslider .flex-control-nav li a,
.single_post_images_slider .flex-control-nav li a {
  font-size: 0;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c3c4c4;
}
.flexslider .flex-control-nav li a.flex-active,
.single_post_images_slider .flex-control-nav li a.flex-active {
  background-color: #c3c4c4;
}
.flex-container {
  position: relative;
}
body:after {
  content: url(images/lightbox/close.png) url(images/lightbox/loading.gif) url(images/lightbox/prev.png) url(images/lightbox/next.png);
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(images/lightbox/loading.gif) no-repeat;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(images/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(images/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-caption a {
  color: #4ae;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Clearfix for the .slides element
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
body {
  background: #FFF;
}
.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
header.header_top {
  background: #2c813c url(images/mask.png) 0 0;
}
header.header_top .main-line {
  background: #2a7b39 url(images/circle.png) no-repeat top center;
}
header.header_top .main-line .top_line {
  min-height: 115px;
  display: flex;
  align-items: center;
  align-content: space-between;
}
header.header_top .main-line .top_item {
  width: 100%;
}
header.header_top .main-line .top_item.logo_box {
  text-align: center;
}
header.header_top .main-line .top_item.phone_box {
  line-height: 18px;
}
header.header_top .main-line .top_item.phone_box .label_for_phone {
  display: block;
  color: #9ac36d;
  font-size: 12px;
}
header.header_top .main-line .top_item.phone_box .phone_number {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
header.header_top .main-line .top_item.search_box {
  text-align: right;
}
header.header_top .main-line .top_item.search_box form.search fieldset.form_container {
  background: #2f723b;
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 17px;
  border-bottom: 1px solid #3f8946;
}
header.header_top .main-line .top_item.search_box form.search fieldset.form_container #searchsubmit {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9ac36d;
}
header.header_top .main-line .top_item.search_box form.search fieldset.form_container .searchinput {
  background: transparent;
  border: none;
  color: #9ac36d;
}
header.header_top .main_navigation {
  min-height: 60px;
  background-color: #95c263;
  color: #FFF;
  -webkit-box-shadow: 0px 10px 26px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 26px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 26px -5px rgba(0, 0, 0, 0.35);
  z-index: 9999;
  margin-bottom: 23px;
}
header.header_top .main_navigation .header_nav a {
  color: inherit;
}
header.header_top .main_navigation .header_nav ul.menu-header {
  display: block;
  text-align: center;
}
header.header_top .main_navigation .header_nav ul.menu-header li {
  float: left;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
header.header_top .main_navigation .header_nav ul.menu-header li a {
  padding: 0 30px;
  display: block;
}
header.header_top .main_navigation .header_nav ul.menu-header li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
header.header_top .main_navigation .header_nav ul.menu-header li.current-menu-item a,
header.header_top .main_navigation .header_nav ul.menu-header li a:hover {
  color: #ffde5a;
  background: rgba(0, 0, 0, 0.05);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(231, 56, 39, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(231, 56, 39, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(231, 56, 39, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(231, 56, 39, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(231, 56, 39, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(231, 56, 39, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e73827', GradientType=0);
}
.breadcrumbs_section {
  background: #2c813c url(images/mask.png) 0 0;
}
.breadcrumbs_section .breadcrumbs_line {
  height: 40px;
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
}
.breadcrumbs_section .breadcrumbs_line .left_line_bread,
.breadcrumbs_section .breadcrumbs_line .right_line_bread {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  width: 100%;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs {
  display: inline-block;
  padding: 0 60px;
  font-size: 12px;
  color: #2d4231;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs a {
  color: #9ac36d;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs .delimiter {
  padding: 0 13px;
  color: #ffde5a;
}
footer.theme_footer {
  background: #ededed;
  padding: 70px 0;
}
footer.theme_footer .footer {
  width: 94%;
  background: #FFF;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
}
footer.theme_footer .footer .top_footer {
  border-bottom: 1px solid #e5e5e5;
}
footer.theme_footer .footer .top_footer .social_container {
  min-height: 90px;
  display: flex;
  align-content: space-between;
  align-items: center;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles {
  text-transform: uppercase;
  font-size: 14px;
  color: #2e3830;
  font-weight: 700;
  width: 100%;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-right: 30px;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #2a7b39;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover.you {
  color: #f14f4f;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover.twi {
  color: #00aced;
}
footer.theme_footer .footer .top_footer .social_container .social_share {
  width: 100%;
  text-align: right;
}
footer.theme_footer .footer .bottom_footer {
  color: #898989;
  font-size: 12px;
  line-height: 18px;
}
footer.theme_footer .footer .bottom_footer p {
  color: inherit;
  line-height: 18px;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box {
  min-height: 200px;
  display: flex;
  align-items: center;
  align-content: space-between;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_logo {
  width: 33.33%;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info {
  width: 66.666%;
  display: flex;
  align-items: center;
  align-content: space-between;
  text-align: right;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts {
  width: 30%;
  min-height: 75px;
  border-right: 1px solid #e7e7e7;
  padding-right: 35px;
  box-sizing: border-box;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .contacts_label {
  color: #434343;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 14px;
  display: block;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_phone {
  font-size: 18px;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_email a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_email a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_address {
  width: 30%;
  min-height: 75px;
  border-right: 1px solid #e7e7e7;
  padding-right: 35px;
  padding-left: 30px;
  box-sizing: border-box;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_address .address_label {
  color: #434343;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 14px;
  display: block;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_copyrights {
  width: 40%;
  min-height: 75px;
  padding-left: 40px;
  box-sizing: border-box;
}
