@import 'elements.less';

@main_color: #2a7b39;
@secondary_color: #9ac36d;
@search_color: #2f723b;
@yellow: #ffde5a;

body{
  background: #FFF;
}



.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header.header_top {
  background: #2c813c url(images/mask.png) 0 0;

  .main-line {
    background: @main_color url(images/circle.png) no-repeat top center;


    .top_line {
      min-height: 115px;
      display: flex;
      align-items: center;
      align-content: space-between;
    }

    .top_item {
      width: 100%;

      &.logo_box {
        text-align: center;
      }

      &.phone_box {
        line-height: 18px;

        .label_for_phone {
          display: block;
          color:@secondary_color;
          font-size:12px;
        }
        .phone_number {
          color:#FFF;
          font-size: 18px;
          font-weight: 700;

        }
      }

      &.search_box {
        text-align: right;

        form.search {

          fieldset.form_container {
            background: @search_color;
            display: inline-block;
            .rounded(20px);
            padding: 0 17px;
            border-bottom: 1px solid #3f8946;

            #searchsubmit {
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              color:@secondary_color;
            }

            .searchinput {
              background: transparent;
              border: none;
              color:@secondary_color;
            }
          }


        }
      }
    }
  }

  .main_navigation {
    min-height: 60px;
    background-color: #95c263;
    color:#FFF;
    -webkit-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.35);
    box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.35);
    z-index: 9999;
    margin-bottom: 23px;

    .header_nav {

      a {
        color:inherit;
      }

      ul.menu-header {
        display: block;
        text-align: center;

        li {
          float:left;
          display: inline-block;
          font-size:14px;
          letter-spacing: 0.12em;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 60px;
          border-right:1px solid rgba(0,0,0,0.05);

          a {
            padding: 0 30px;
            display: block;
          }

          &:first-child {
            border-left:1px solid rgba(0,0,0,0.05);
          }

          &.current-menu-item a, a:hover{
            color: @yellow;
            background: rgba(0,0,0,0.05);
            background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.05)), color-stop(100%, rgba(231,56,39,0)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(231,56,39,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );
          }
        }
      }
    }
  }
}


.breadcrumbs_section {
  background: #2c813c url(images/mask.png) 0 0;

  .breadcrumbs_line {
    height: 40px;
    width: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;

    .left_line_bread,.right_line_bread {
      height: 1px;
      background-color: rgba(255,255,255,0.15);
      display: block;
      width: 100%;
    }
    .breadcrumbs {
      display: inline-block;
      padding: 0 60px;
      font-size: 12px;
      color: #2d4231;

      a {
        color:@secondary_color;
        .transition(all 300ms ease-in-out);

        &:hover {
          .transition(all 300ms ease-in-out);
          .opacity(0.7);
        }
      }

      .delimiter {
        padding: 0 13px;
        color:@yellow;
      }
    }
  }
}


footer.theme_footer {
  background: #ededed;
  padding: 70px 0;

  .footer {
    width: 94%;
    background: #FFF;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 300px;
    .rounded(10px);
    -webkit-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
    box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);

    .top_footer {
      border-bottom: 1px solid #e5e5e5;
      .social_container {
        min-height: 90px;
        display: flex;
        align-content: space-between;
        align-items: center;


        .social_profiles {
          text-transform: uppercase;
          font-size:14px;
          color:#2e3830;
          font-weight: 700;
          width: 100%;

          a {
            color:inherit;
            .transition(all 300ms ease-in-out);
            margin-right: 30px;

            &:hover {
              .transition(all 300ms ease-in-out);
              color:@main_color;

              &.you {
                color:#f14f4f
              }
              &.twi {
                color:#00aced;
              }
            }
          }
        }
        .social_share {
          width: 100%;
          text-align: right;
        }
      }
    }
    .bottom_footer {
      color: #898989;
      font-size: 12px;
      line-height: 18px;

      p {
        color:inherit;
        line-height: 18px;
      }

      .contacts_footer_box {
        min-height: 200px;
        display: flex;
        align-items: center;
        align-content: space-between;

        .footer_logo {
          width: 33.33%;
        }
        .footer_info {
          width: 66.666%;
          display: flex;
          align-items: center;
          align-content: space-between;
          text-align: right;

          .item_contacts {
            width: 30%;
            min-height: 75px;
            border-right:1px solid #e7e7e7;
            padding-right: 35px;
            box-sizing: border-box;

            .contacts_label {
              color:#434343;
              text-transform: uppercase;
              font-size:14px;
              font-weight: 700;
              margin-bottom: 20px;
              line-height: 14px;
              display: block;
            }
            .footer_phone {
              font-size: 18px;

            }
            .footer_email {

              a {
                color:inherit;
                .transition(all 300ms ease-in-out);

                &:hover {
                  .opacity(0.7);
                  .transition(all 300ms ease-in-out);
                }
              }
            }
          }
          .item_address {
            width: 30%;
            min-height: 75px;
            border-right:1px solid #e7e7e7;
            padding-right: 35px;
            padding-left: 30px;
            box-sizing: border-box;

            .address_label {
              color:#434343;
              text-transform: uppercase;
              font-size:14px;
              font-weight: 700;
              margin-bottom: 20px;
              line-height: 14px;
              display: block;
            }
          }
          .item_copyrights {
            width: 40%;
            min-height: 75px;
            padding-left: 40px;
            box-sizing: border-box;
          }
        }
      }


    }
  }
}